/* src/components/TopSection.css */
.top-section {
    margin-left: 240px; /* Offset to the right of the sidebar */
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: inline flex;
    overflow-x: auto;
    white-space: nowrap;
}

.highlight {
    width: 180px; /* Adjusted for a more square appearance */
    height: 180px; /* Same as width for square shape */
    margin-right: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    text-align: center;
}

.highlight-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; /* Space between title and description */
}

.highlight-description {
    font-size: 14px;
    color: #666;
}

@media (max-width: 768px) {
    .top-section {
        margin-left: 0; /* Full width on mobile */
        padding: 10px;
    }
}
